/* Set variables. */

:root {
  --border-radius: 6px;
  --border-style: solid;
  --padding: 0.4rem;
}

/* Set up grid. */

#container {
  display: grid;
  height: 100vh;
  grid-gap: 0.8rem;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebarLeft main sidebarRight"
    "footer footer footer";
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: auto;
}

@media only screen and (max-width: 750px) {
  #body {
    color: pink;
  }
  #container {
    grid-template-areas:
      "header"
      "nav"
      "sidebarLeft"
      "sidebarRight"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* Set grid areas. */

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

#sidebarLeft {
  grid-area: sidebarLeft;
}

#sidebarRight {
  grid-area: sidebarRight;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Set custom styles. */

@media (prefers-color-scheme: dark) {
  :root{
    background-color: black;
    color: white;
  }
}

.border {
  border-style: var(--border-style);
  border-radius: var(--border-radius);
}

.center-perfect {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  font-family: Palatino, serif;
}

.heading {
  font-family: Optima, sans-serif;
}

.pad {
  padding: var(--padding);
}

#title {
  text-align: center;
}

a:link, a:visited {
  color: blue;
}

a:active, a:hover {
  color: green;
}
