#container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebarLeft main sidebarRight"
    "footer footer footer";
  grid-template-columns: 0.8fr 1.4fr 0.8fr;
  grid-template-rows: 0.2fr 0.15fr auto 0.15fr;
}

header {
  background-color: red;
  grid-area: header;
  place-self: center;
}

nav {
  background-color: orange;
  grid-area: nav;
  place-self: center;
}

#sidebarLeft {
  background-color: yellow;
  grid-area: sidebarLeft;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

#sidebarRight {
  background-color: green;
  grid-area: sidebarRight;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

main {
  background-color: blue;
  grid-area: main;
  padding-left: 0.2rem;
  margin-right: 0.2rem;
}

footer {
  background-color: indigo;
  grid-area: footer;
  place-self: center;
}
