<!doctype html>
<html lang="en">
  <head>
    <link rel="canonical" href="https://liammulhall.com">
    <link rel="apple-touch-icon" sizes="180x180" href="../resources/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../resources/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../resources/favicon/favicon-16x16.png">
    <link rel="manifest" href="../resources/favicon/site.webmanifest">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is Liam Mulhall's personal website!">
    <meta name="Liam Mulhall" content="Liam is a mathematics student at the University of Colorado Boulder.">
    <title>Liam Mulhall | Projects</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom Style -->
    <link href="../resources/styles/main.css" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/4663cc155f.js" crossorigin="anonymous"></script>
  </head>

  <!-- Body -->
  <body class="text-center">

    <!-- Masthead and Navs -->
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Liam's Projects</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="../index.html">Home</a>
            <a class="nav-link active" href="./projects.html">Projects</a>
            <a class="nav-link" href="./contact.html">Contact</a>
          </nav>
        </div>
      </header>

      <!-- Main Content -->
      <main role="main" class="mt-5 mb-5 inner projects-contacts">
        <h3><a href="https://github.com/phetsims/rosetta">Rosetta</a></h3>
        <p>
          A translation utility used at my work &mdash; Physics Education Technology or PhET &mdash; to
          translate (go figure) thousands of PhET simulations. It's used by over 80 translators
          worldwide. It's a Node/Express/Postgres app.
        </p>
        <h3><a href="https://liammulhall.com/simple-neural-network/">Simple Neural Network</a></h3>
        <p>
          For my final project in my data structures course, I implemented a simple artificial neural
          network in C++. It "learns" to behave like an exclusive or gate.
        </p>
        <h3><a href="https://liammulhall.com/binary-numbers/">Binary Numbers</a></h3>
        <p>
          A pure HTML/CSS/JavaScript (and a bit of jQuery) web app that explains how unsigned 8-bit
          binary numbers are converted to decimal numbers.
        </p>
        <h3><a href="https://en.wikipedia.org/wiki/Filter_bubble">Political Bubbles</a></h3>
        <p>
          Coming soon! A Node/React/GraphQL web app that leverages the
          <a href="https://newsapi.org/">News API</a> to illustrate our society's political
          bubbles. (Political bubbles are also known as "filter bubbles.")
        </p>
        <h3><a href="https://www.youtube.com/channel/UCWuNDZidpgKyd3OGAY_tKZg">Foundations of Programming YouTube Channel</a></h3>
        <p>
          Coming soon! I plan on making video tutorials on the basics of programming, data structures,
          and algorithms.
        </p>
      </main>

      <!-- Footer -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            <i class="fab fa-github"></i> <a href="https://github.com/muedli">GitHub</a> |
            <i class="fab fa-twitter"></i> <a href="https://twitter.com/muedli">Twitter</a> |
            <i class="fab fa-youtube"></i> <a href="https://www.youtube.com/channel/UCWuNDZidpgKyd3OGAY_tKZg">YouTube</a>
          </p>
        </div>
      </footer>
    </div>

    <!-- jQuery, Popper.js, and Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
